.projectcard_container {
  background-color: var(--darkblue-color);
  color: var(--black-text);
  height: 100%;
  padding: 20px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projectcard_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.projectcard_container h2 {
  font-weight: bold;
  margin: 0;
}

.projectcard_container p {
  margin: 0;
}

.projectcard_badge {
  align-self: flex-start;
}

.projectcard_button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  height: 65px;
  min-width: 200px;
  max-width: 300px;
  padding: 0 20px;

  color: var(--black-text);
  font-weight: bold;
  text-decoration: none;
  border: 5px solid var(--black-text);
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;

  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease,
    box-shadow 0.3s ease;
}

.projectcard_button:hover {
  transform: translateY(-1px) scale(1.03);

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

  background-color: var(--black-text);
  color: var(--font-color);
}

@media (max-width: 800px) {
  .projectcard_container {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .projectcard_badge {
    gap: 15px;
  }
}
