.navbar,
.navbar-default {
  background-image: var(--navbar-background) !important;
}

.header_navbar .nav-link,
.header-brand {
  color: var(--font-color) !important;
  font-weight: bold;
  font-size: 20px;
}

.header_navbar .nav-link:hover,
.header_navbar .nav-link:focus {
  color: var(--blue-color) !important;
}

.header-lang {
  height: 25px;
  width: auto;
  object-fit: contain;
  display: inline-block;
  vertical-align: middle;
}
